
<div>
    <div class="wrap">
      <div dir="rtl" class="wrap-example">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input required matInput placeholder="שם משתמש:" [(ngModel)]="email" name="email">
          </mat-form-field>
        </form>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input required type="password" matInput placeholder="סיסמא:" [(ngModel)]="password" name="password">
          </mat-form-field>
        </form>
        <input type="button" class="conect" value="התחבר" (click)="conect()" [disabled]="!email || !password">
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="button" class="conect" value="צור משתמש" (click)="newUser()" [disabled]="!email || !password"> -->
        <br>
      </div>
    </div> 